<ion-modal-view class="databaseResetWindow">
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Databases Reset!</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="label">Databases were successfully reset!</span>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="closeDatabaseResetModal()">
        Continue
      </button>
    </div>
  </ion-content>
</ion-modal-view>
