<ion-modal-view class="incidentPopupWindow">
  <ion-content>
    <div class="item item-avatar">
      <!-- <img src="neighborhood.jpg> -->
      <h1>Incident Report</h1>
      <!-- <p>Neighborhood name</p> -->
    </div>

    <div class="list card">
      <div class="item item-body">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="picture in currentIncident.pictures"><img src="{{picture}}"></ion-slide>
        </ion-slide-box>
      </div>

      <p>
        <strong>{{ currentIncident.type }}</strong> on {{ currentIncident.fuzzyAddress }}. User Description:<strong> {{ currentIncident.description }}.</strong> Reported by<strong> {{ currentIncident.username }}</strong> to have occured on <strong> {{ currentIncident.date }} </strong> at {{ currentIncident.time }}.
      </p>

      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-modal-view>