<ion-modal-view class="profileWindow">
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Profile</h1>
    <button class="button button-calm" ng-click="profileEditor()">Update</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <span class="input-label" disabled>{{user.firstName}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <span class="input-label" disabled>{{user.lastName}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <span class="input-label" disabled>{{user.email}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Contact Number</span>
        <span class="input-label" disabled>{{user.phone}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <span class="input-label" disabled>{{user.username}}</span>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="closeProfileModal()">
        OK
      </button>
      <button class="button button-block button-calm" ng-click="signOut()">
        Sign Out
      </button>
    </div>
  </ion-content>
</ion-modal-view>
