<ion-modal-view class="signUpWindow">
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label" style="max-height:30px;">First Name</span>
        <input type="text" ng-model="user.firstName">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="user.lastName">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-style="myStyle2" ng-change="myStyle2 = isValidEmail( user.email ) ? { 'background-color': 'none' } : { 'background-color': 'pink' };" ng-model="user.email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Contact Number</span>
        <input type="text" ng-style="myStyle1" ng-change="myStyle1 = isValidPhoneNumber( user.contactnumber ) ? { 'background-color': 'none' } : { 'background-color': 'pink' };" ng-model="user.phone">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" required>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="signUp(user)">
        Sign Up
      </button>
    </div>
  </ion-content>
</ion-modal-view>
