<ion-modal-view class="signInWindow" ng-class="{ shake : signInRejected }">
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Sign In</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <p class="text-center">
      <button class="button button-block button-calm" ng-click="signIn(user)">
        Sign In
      </button>
        <button class="button button-small button-block button-calm" ng-click="closeSignInModal(); openForgotPasswordModal()">Forgot Password</button>
        <button class="button button-small button-block button-calm" ng-click="closeSignInModal(); openSignUpModal()">Sign Up</button>
      </p>
    </div>
  </ion-content>
</ion-modal-view>
