<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionic.app.min.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic.bundle.min.js"></script>
    <!-- google maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
    <!-- jquery -->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- watchly js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>

  <body ng-app="watchly" ng-controller="MapCtrl">
    
    <ion-header-bar class="bar-calm">
      <h1 class="title">Watchly</h1>
      <a ng-click="centerMapOnUser()" class="button button-icon icon ion-pinpoint"></a>
      <!-- <a ng-click="testAlertForum()" class="button button-icon icon ion-navicon-round"></a> -->
      <a ng-click="profileActivate()" class="button button-icon icon ion-ios-contact-outline"></a>
    </ion-header-bar>

    <ion-content scroll="false">
      <div id="map"></div>
    </ion-content>

    <div class="incidentReportForm" ng-hide="incidentReportForm.hidden">
        <label class="incidentReportTitle">Report New Incident</label>
        <label class="incidentReportFormLabel item item-input item-select">
            <div class="input-label">Incident Type: </div>
            <select ng-model="newIncident.type" ng-change="newIncidentType = newIncident.type">
                <option ng-repeat="incidentType in incidentTypes">{{incidentType.type}}</option>
            </select>
        </label>
        <label class="item item-input">
            <span class="input-label">Incident Date: </span>
            <input class="incidentDate" type="date" ng-model="newIncident.curDate">
        </label>
        <label class="item item-input">
            <span class="input-label">Incident Time: </span>
            <input class="incidentTime" type="time" ng-model="newIncident.curTime">
        </label>
        <label class="item item-input">
            <input class="incidentDescription" type="text" ng-model="newIncident.description"placeholder="Incident Description" required>
        </label>
        <button ng-click="submitIncident(newIncident)" class="button button-block button-calm">Submit Incident</button>
    </div>

    <ion-footer-bar class="bar-stable">
    <h4 class="title">Virtual Town Watch</h4>
      <button ng-click="confirmIncidentCreate()" class="createIncident button button-calm" ng-hide="createIncidentButton.hidden"><a class="icon ion-edit"></a></button>
      <button ng-click="removeIncident()" class="cancelIncident button button-assertive" ng-hide="cancelIncidentButton.hidden"><a class="icon ion-close"></a></button>
    </ion-footer-bar>
  </body>
</html>
