/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.incidentReportForm {
    position:absolute;
    left:10px;
    top: 50px;
    z-index:3;
}

.incidentReportFormLabel {
  width: 220px;
}